body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(252, 243, 243);
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100vh;
  }

  h1, h3, p{
    color: rgb(75, 75, 75);
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  h1{
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: rgb(39, 38, 24);
    outline: none;
    text-align: center;
  }
  
  #mainZone {
    display: flex;
    gap: 20px;
  }

  #leftMenu {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  .btn {
    display: block;
    text-transform: uppercase;
    padding: 10px;
    background-color: rgb(241, 239, 224);
    color: rgb(22, 22, 22);
    border: 2px solid rgb(22, 22, 22);
    border-radius: 16px;
    margin-bottom: 16px;
  }
  
  #colorSelector {
    height: 100px;
    width: 100px;
    background-color: rgb(42, 161, 165);
    border: 2px solid rgb(22, 22, 22);
    border-radius: 100px;
    align-self: center;
  }

  #paintingZone {
    width: 500px;height: 500px;
    border: rgb(44, 44, 44) solid 3px;
    display: flex;
    flex-flow: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
 
  #sliderBox{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  
  #footer {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
  }

  #footerContent{
    display: flex;
    flex-flow: row;
    gap: .5rem;
    align-items: center;
  }

